<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo List Detail{% endblock %}</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                {% for todo_item in todo_items %}
                <tr>
                    <td><a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a></td>
                    <td>{{ todo_item.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>